.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.logo {
font-family: "Raleway", sans-serif;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}

.nav-list-link.nav-list-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.nav-list-link:hover,
.nav-list-link:focus {
    color: #2196F3;
    }

.contacts-mail {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    }
    
.contact-phone {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.contacts-mail:hover,
.contacts-mail:focus {
    color: #2196F3;
    }

.contact-phone:hover,
.contact-phone:focus {
    color: #2196F3;
    }

.navigation-button {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;
}    